appdirs
attrs
Babel
bcc
bcrypt
beautifulsoup4
binwalk
blinker
Brlapi
Brotli
certifi
chardet
click
cloud-init
colorama
command-not-found
configobj
contourpy
cryptography
cssselect
cupshelpers
cycler
dbus-python
decorator
defer
distlib
distro
distro-info
docker
docker-compose
dockerpty
docopt
duplicity
fasteners
filelock
fonttools
fs
html5lib
httplib2
idna
importlib-metadata
Jinja2
jsonpatch
jsonpointer
jsonschema
kiwisolver
language-selector
launchpadlib
lazr.restfulclient
lazr.uri
louis
lxml
lz4
Mako
markdown-it-py
MarkupSafe
matplotlib
mdurl
monotonic
more-itertools
mpmath
netaddr
netifaces
numpy
oauthlib
olefile
packaging
paramiko
pexpect
pillow
platformdirs
ptyprocess
pycairo
pycups
Pygments
PyGObject
PyJWT
PyNaCl
PyOpenGL
pyparsing
PyQt5
PyQt5-sip
PyQt6
PyQt6-sip
pyqtgraph
pyrsistent
pyserial
python-apt
python-dateutil
python-debian
python-dotenv
pytz
pyxdg
PyYAML
requests
rich
SciPy
setuptools
six
soupsieve
sympy
systemd-python
texttable
ubuntu-drivers-common
ubuntu-pro-client
ufoLib2
ufw
unattended-upgrades
unicodedata2
urllib3
usb-creator
virtualenv
wadllib
webencodings
websocket-client
wheel
xdg
xkit
zipp
zombie-imp
